# Arquivos secretos
credentials.json
**/credentials/*.json
run_tf.sh

# Arquivos de estado e binários do Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Documentações
.docs/
**/informations/*.txt